.dashboard-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    height: 90vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

/* doacoes */
#donate {
    width: 100%;
    height: 100vh;
    background-color: var(--purple-4);
    background-image: url("../assets/images/IMG_4350.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  
  .fundo button{
    margin-left: 250px;
  }
  
  .fundo h1 {
    margin-bottom: 10vh;
    font-size: 45px;
    color: var(--light);
  }
  
  .fundo p {
    margin-bottom: 5vh;
    font-size: 20px;
    color: var(--light);
  }
  
  form {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  form input {
    margin: 4px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  /* voluntario*/
  
  .background {
    background-color: var(--purple-4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    display: flex;
    align-items: right;
    flex-direction: row;
    width: 900px;
    height: 500px;
    background: white;
    border-radius: 30px;
  }

  .form-container-cadastro {
    display: flex;
    align-items: right;
    flex-direction: row;
    width:100%;
    height: 90vh;
    background: white;
    border-radius: 30px;
    position: fixed;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  
  .form-container img {
    width: 50%;
    border-radius: 30px;
    object-fit: cover;
    object-position: 25% 75%;
  }

  .form-container-cadastro img {
    width: 55vw;
    height: 90vh;
  }
  
  #form-input-cadastro {
    display: flex;
    align-items: right;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
  }

  .pop-up-container {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    color: black;
    font-style: bold;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .checkbox-input {
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
  
  .button-pop-up {
    font-size: 12px;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .input-container {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .input-container-cadastro {
    height: 80px;
    width: 80%;
    display: block;
    flex-direction: center;
    justify-content: space-between;
    font-size: 14px;
    color: black;
  } 
  .input-container-cadastro label {
    padding: 2%;
  }
 

  .gradient {
    background: linear-gradient(to right, var(--purple-3), var(--purple-1));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .container-pop-up {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000cc;
  }
  
  .content-pop-up {
    width: 800px;
    overflow: auto;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    text-align: justify;
    background-color: var(--light);
  }
  
  .content-pop-up h2 {
    color: var(--purple-1);
    margin-bottom: 20px;
  }
  
  .content-pop-up p {
    margin-bottom: 20px;
  }
  

  /* contato*/
  .background {
    width: 100%;
    height: 100%;
    background-color: var(--purple-4);
  }
  
  .container {
    height: 90vh;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .contato {
    height: 500px;
    width: 1000px;
    background-color: var(--light);
    border-radius: 10px;
    display: flex;
  }
  
  .conteudo-form h1{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.1;
  }
  
  .contato img {
    border-radius: 10px;
    width: 550px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .a{
      font-size: 50px;
  }
  
  .conteudo-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
  }
  
  .gradient{
    background: linear-gradient(to right, var(--purple-3), var(--purple-1));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .cont-fund{
    background-color: #985BB8;
  }

  .background {
    min-height: 90vh;
    background-color: var(--purple-1);
    padding: 50px 150px;
  }
  
  .text-container h1 {
    color: var(--light);
    margin-bottom: 10px;
    font-weight: normal;
}
  
  .text-container p{
    color: var(--light);
    margin-bottom: 25px;
    text-align: justify;
    font-weight: lighter;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 25px;
  }
  
  .card {
    background: white;
    height: 380px;
    padding: 12px;
    border-radius: 33px;
  }
  
  .card img {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
  }
  .card h2{
    font-size: 18px;
    font-weight: normal;
  }
  
  .card p {
    margin-top: 12px;
    font-size: 13px;
  }
  
  /*galeria*/
  .page-home {
    width: 160vh;
    height: 90vh;
    display: flex;
    justify-content: center;
   
}

.page-home img {
    width: 100%;
    z-index: -2;
}



#right-btn {
    margin: auto 0 auto -2em;
    height: 6%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

#right-btn .arrow {
    transform: rotate(-45deg);
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
    height: 6%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

#left-btn .arrow {
    transform: rotate(135deg);
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}


:root {
  --light: #ffffff;
  --dark: #000;
}


a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 400;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
a:hover {
  border-bottom: 1px solid var(--dark);
}
ul {
  list-style-type: none;
  padding: 0;
}
button {
  appearance: none;
  border: 0;
  background: transparent;
}
.flex {
  display: flex;
}
.footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer_inner {
  background: var(--light);
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(153, 28, 255, 0.208);
  border-radius: 5px;
  padding: 3rem;
  width: 400vw;
  height: 27vh;
}

.footer {
  position: relative;
  display: flex;
  background-color: #000;
  align-items: center;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid var(--dark);
}


@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}
form {
  position: relative;
}
svg {
  margin: 0.5rem;
}
.c-2 {
  margin-top: 3.5rem;
}
.footer_copyright {
  color: var(--light);
}

.Grid-Images{
  height: 100%;
  padding: 4rem;
}

.Nossa-Historia{
  height: 100vh;
  background-color: #985BB8;
  color: #fff;
}

.Nossa-Historia img{
  border-radius: 350px;
  margin: 30px;
  height: 85vh;
}

.Nossa-Historia p{
  margin-left: 50%;
  text-align: justify ;
  margin-top:112px;
}

.Nossa-Historia h1{
  margin-left: 50%;
  text-align: justify ;
}

.content_history {
  width: 95%;
  height: 82vh;
  margin-top: -594px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}

