.gallery {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 65vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow-x: auto;
	white-space: nowrap;
	height: 90vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
	overflow: hidden;

}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}
.imgSlider{
	height: 87vh;
}