.background {
  background-color: var(--purple-4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  align-items: right;
  flex-direction: row;
  width: 90rem;
  height: 700px;
  background: white;
  border-radius: 30px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container img {
  max-height: 670px;
  width: 50rem;
  border-radius: 20px;
  margin: 20px;
}

.form-container form div {
  margin: 5px;
}

.form-container button {
  margin-top: 20px;
}
#form-input {
  display: flex;
  align-items: right;
  justify-content: center;
}
.content-form {
  display: flex;
  align-items: left;
  justify-content: center;
  width: 40rem;
}
